.box1 {
  background-color: #000;
  height: 120px;
}

.box2 {
  background-color: #2f3640;
  height: 60px;
}

.redes {
  font-size: 60px !important;
  color: white;
}

.textos {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

.bgf {
  background-color: #000 !important;
}
