.caixa {
  background-color: #000;
}

.titulo {
  color: white !important;
  font-weight: bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

.botao {
  border-color: white !important;
  color: white !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

.postagens {
  background-color: #dcdde1 !important;
}

.text-decorator-none {
  text-decoration: none;
}

.tituloHome {
  color: #fff !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
