.topo {
  margin-top: 20px;
}

.fonteCadastroP {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

.bgCadastroP {
  background-color: #000 !important;
}
